:host {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    height: 100%;

    & > * {
        width: 100%;
    }

    .main-view {

        &_container {
            flex-wrap: wrap;
            height: calc(100% - 46px);
            transition: height .5s;

            &--empty {
                display: flex;
            }
        }
        
        &_counter, &_spinner {
            width: 100%;
            display: flex;
            align-self: center;
            justify-content: center;
        }

        &_add {
            margin: 5px;
        }
    }
}