.main-view {
    &_counter {
        align-self: center;
        padding: 10px 0;
    }

    &_results {
        display: flex;
        flex-wrap: wrap;
        overflow: auto;
        flex: 1;
        transition: opacity .5s;
        margin: -10px;

        &--hidden {
            opacity: 0;
            display: none;
        }

        & > app-streamer {
            width: 100%;
        }
    }
    
    &_dropdown {
        &-container {
            display: flex;
            flex-wrap: wrap;
            font-size: 16px;
        }
        
        &-action {
            display: flex;
            align-items: center;
            cursor: pointer;
            margin-left: 5px;
        }
    }
}

::ng-deep {
    app-page.opened {
        height: 405px;
    }
}