<app-page>
    <content>
        <span class="main-view_counter" *ngIf="isEmpty">Aucun follow</span>

        <div class="main-view_results" [ngClass]="{ 'main-view_results--hidden': isEmpty }">
            <div *ngIf="hasLive" class="main-view_title main-view_title_live">En ligne ({{lives.length}})</div>
            <app-streamer *ngFor="let item of lives | orderBy:'name'"
                        [name]="item.name"
                        [logo]="item.thumbnail_url"
                        [status]="item.is_live"
                        [game_id]="item.game_id"
                        [viewer_count]="item.viewer_count"
                        (onClick)="open(item.name)"
                        (refresh)="page.refreshView()">
                <button mat-icon-button 
                        title="Supprimer"
                        [disabled]="isDeleting(item.id)"
                        (click)="delete(item.id)">
                    <mat-icon>delete_outline</mat-icon>
                </button>
            </app-streamer>
            
            <div *ngIf="hasOffline" class="main-view_title main-view_title_offline">Hors ligne ({{offlines.length}})</div>
            <app-streamer *ngFor="let item of offlines | orderBy:'name'"
                        [name]="item.name"
                        [logo]="item.thumbnail_url"
                        [status]="item.is_live"
                        [game_id]="item.game_id"
                        [viewer_count]="item.viewer_count"
                        (onClick)="open(item.name)"
                        (refresh)="page.refreshView()">
                <button mat-icon-button 
                        title="Supprimer"
                        [disabled]="isDeleting(item.id)"
                        (click)="delete(item.id)">
                    <mat-icon>delete_outline</mat-icon>
                </button>
            </app-streamer>
        </div>
    </content>
    <footer>
        <button mat-flat-button (click)="navigate.next(ERoute.ADDITION)">
            <mat-icon>add</mat-icon>
            Ajouter
        </button>
    </footer>
</app-page>