:host {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    height: 100%;

    & > * {
        width: 100%;
    }

    .main-view {

        &_container {
            display: flex;
            flex-direction: column;
        }
        
        &_add {
            margin: 5px;
        }
    }
}