:host {
    overflow-x: hidden;
    height: 100%;

    .mat-toolbar {
        display: flex;
        justify-content: space-between;
        padding-right: 0;
        background-color: #303030;
    }

    .app-root {
        &_container {
            display: block;
            position: relative;
            height: calc(100% - 56px);
            transition: height .5s;
        }
    }
}