<mat-toolbar color="primary">
    <span>Twitch follow</span>
    <button mat-icon-button [matMenuTriggerFor]="colors">
        <mat-icon>more_vert</mat-icon>
    </button>
</mat-toolbar>

<div class="app-root_container" [@routeAnimations]="prepareRoute(outlet)">
    <router-outlet #outlet=outlet></router-outlet>
</div>

<mat-menu #colors="matMenu">
    <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile>1</mat-grid-tile>
        <mat-grid-tile>2</mat-grid-tile>
        <mat-grid-tile>3</mat-grid-tile>
    </mat-grid-list>
</mat-menu>