<mat-toolbar color="primary">
    <img src="../assets/twitch-flat-white.png" width="32" />
    <span>Twitch follow</span>
    <button mat-icon-button [matMenuTriggerFor]="colors" #refresh>
        <mat-icon>more_vert</mat-icon>
    </button>
</mat-toolbar>

<div class="app-root_container" [@routeAnimations]="prepareRoute(outlet)">
    <router-outlet (activate)="activateRoute($event)" #outlet=outlet></router-outlet>
</div>

<mat-menu #colors="matMenu">
    <button mat-menu-item (click)="settings()">
        <mat-icon>settings</mat-icon>
        Paramètres
    </button>
    <button mat-menu-item (click)="import()">
        <mat-icon>file_upload</mat-icon>
        Importer
    </button>
    <button mat-menu-item (click)="export()">
        <mat-icon>file_download</mat-icon>
        Exporter
    </button>
</mat-menu>