@import '../../../colors';

.addition-view {

    &_container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        height: calc(100% - 46px);
        margin: -10px;
    }

    &_spinner {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }

    &_counter {
        align-self: center;
        padding: 10px 0;
    }

    &_results {
        display: flex;
        flex-wrap: wrap;
        overflow: auto;
        flex: 1;
        transition: opacity .5s;

        &--hidden {
            opacity: 0;
            display: none;
        }

        & > app-streamer {
            width: 100%;
        }
    }

}