<mat-form-field floatLabel="never" class="addition-view_input">
    <input matInput placeholder="Recherche..." 
    [(ngModel)]="search" 
    (ngModelChange)="searchUpdate.next($event)" />
</mat-form-field>
    
<div class="addition-view_container">
    <mat-spinner diameter="65" *ngIf="searching"></mat-spinner>
    
    <span *ngIf="!searching && results?.length === 0">Aucun résultat</span>

    <ng-container *ngIf="!searching && results?.length > 0">
        <span>{{results.length}} résultat(s)</span>

        <app-streamer *ngFor="let result of results"
            [name]="result.display_name"
            [logo]="result.thumbnail_url"
            [status]="result.is_live">
            <button mat-icon-button>
                <mat-icon>add_circle_outline</mat-icon>
            </button>
            <button mat-icon-button *ngIf="false">
                <mat-icon>check_circle_outline</mat-icon>
            </button>
        </app-streamer>
    </ng-container>
</div>

<button class="addition-view_back" mat-flat-button routerLink="/main">
    <mat-icon>chevron_left</mat-icon>
    Retour
</button>