:host {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    height: 100%;

    & > * {
        width: 100%;
    }

    .addition-view {

        &_input {
            padding: 0 10px;
        }

        &_container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            overflow: auto;
            height: calc(100% - 57px - 36px);

            & > app-streamer {
                width: 100%;
            }
        }

        &_back {
            margin: 5px;
        }
    }
}