:host {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    height: 100%;

    & > * {
        width: 100%;
    }

    .addition-view {

        &_input {
            padding: 0 10px;
        }

        &_spinner {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        &_container {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
            height: calc(100% - 57px - 46px);
            transition: height .5s;

            > span {
                align-self: center;
            }

            &--opened {
                height: 150%;
            }
        }

        &_spinner {
            justify-content: center;
            align-content: center;
        }

        &_results {
            display: flex;
            flex-wrap: wrap;
            overflow: auto;
            flex: 1;

            & > app-streamer {
                width: 100%;
            }

            &--hidden {
                display: none;
            }
        }

        &_navigation {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        &_back {
            margin: 5px;
        }
    }
}