<app-page [returnLink]="ERoute.MAIN"
          [returnDelay]="isEmpty ? 100 : 500" >
    <content>
        <form [formGroup]="form" #ngForm>
            <mat-form-field class="addition-view_input">
                <input matInput placeholder="Recherche" formControlName="query" />
            </mat-form-field>
        </form>

        <div class="addition-view_container">
            <span class="addition-view_spinner" *ngIf="searching && isEmpty; else title">
                <mat-spinner diameter="50"></mat-spinner>
            </span>
            <ng-template #title>
                <span class="addition-view_counter">{{ isEmpty ? "Aucun résultat" : results.length +" résultat(s)"}}</span>
            </ng-template>
                
            <div class="addition-view_results" 
                [ngClass]="{'addition-view_results--hidden': !query || isEmpty }"
                (scroll)="scroll$.next($event)">

                <app-streamer *ngFor="let result of results"
                    [name]="result.display_name"
                    [logo]="result.thumbnail_url"
                    [status]="result.is_live">

                    <button mat-icon-button *ngIf="isNotSelected(result.id)" (click)="add(result)">
                        <mat-icon>add_circle_outline</mat-icon>
                    </button>
                    <div class="icon-container" *ngIf="isSelected(result.id)">
                        <mat-icon color="primary">check_circle_outline</mat-icon>
                    </div>
                    <div class="icon-container" *ngIf="isSelecting(result.id)">
                        <mat-spinner diameter="20"></mat-spinner>
                    </div>
                </app-streamer>

                <div class="addition-view_spinner" *ngIf="searching">
                    <mat-spinner diameter="50"></mat-spinner>
                </div>
            </div>
        </div>
    </content>
</app-page>
