<span class="app-streamer_container">
    <app-async-image [src]="logo" class="app-streamer_logo" [ngClass]="{'app-streamer_logo--enable': status, 'app-streamer_logo--disable': !status}">
    </app-async-image>
    <div class="app-streamer_badge" *ngIf="!!badge && status">{{badge}}</div>
</span>

<div class="app-streamer_text-container">
    <div class="app-streamer_text app-streamer_name" [title]="tooltip" #nameElement>
        <span>{{name}}</span>
    </div>
    <div class="app-streamer_text app-streamer_activity" [title]="activity" *ngIf="!!game_id">
        <span>{{activity}}</span>
    </div>
</div>

<div class="app-streamer_buttons-container">
    <ng-content></ng-content>
</div>