:host {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px 5px;

    &:hover {
        background-color: aliceblue;
    }

    .app-streamer {

        &_container {
            position: relative;
            display: flex;
            flex-direction: column;
        }

        &_logo {
            display: flex;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 3px solid;
            overflow: hidden;
            
            &--enable {
                border-color: green;
            }
            &--disable {
                border-color: red;
            }
        }
        
        &_badge {
            padding: 2px 4px;
            align-self: center;
            position: absolute;
            bottom: -5px;
            background-color: #303030;
            color: #fff;
            font-size: 12px;
        }

        &_text-container {
            display: flex;
            flex-direction: column;
        }

        &_text {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            text-transform: capitalize;
            text-align: center;
            font-weight: bold;
            max-width: 155px;
        }
        
        &_name {
            font-size: 16px;
        }
        
        &_activity {
            font-size: 12px;
            font-weight: normal;
            color: #303030;
        }
    }
}