$black-color: #181818;

$violet-color: #695fff;
$blue-color: #1f1f8f;
$yellow-color: #c2c22c;

$grey-color: #666;
$light-grey-color: #c0c0c0;
$dark-grey-color: #303030;

$red-color: #b51f1f;
$light-red-color: #a95353;
$dark-red-color: #6d2222;

$green-color: #347034;
$light-green-color: #146314;