@import '~@angular/material/theming';
@include mat-core();
$default-app-primary: mat-palette($mat-purple);
$default-app-accent:  mat-palette($mat-green);
$default-app-warn:    mat-palette($mat-red);
$default-theme: mat-light-theme($default-app-primary, $default-app-accent, $default-app-warn);

@include angular-material-theme($default-theme);
// color
@import 'colors';

/* You can add global styles to this file, and also import other style files */
html, body {
    overflow: hidden;
}

body {
    margin: 0;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-size: 14px;
    transition: height .5s;
    width: 290px;
    height: 300px;
    
    &.opened {
        height: 405px;
    }
    
    &:not(.dark) {
        .mat-toolbar {
            background-color: #ffffff;
            color: $black-color;
        }
        .mat-flat-button {
            border-top: 1px solid $light-grey-color;
        }
        .mat-form-field-label, .mat-slide-toggle-content {
            color: $grey-color !important;
        }
        .mat-snack-bar-container {
            background: #ffffff;
            color: $black-color;
        }
        .mat-menu-item_slide {
            color: $dark-grey-color;
            .mat-icon:first-of-type {
                color: black !important;
            }
            .mat-icon:last-of-type {
                color: $light-grey-color !important;
            }
        }

        app-streamer {
            &:hover {
                background-color: #f0f8ff;
            }
            &_activity {
                color: $grey-color;
            }
        }
    }

    &.dark {
        .mat-toolbar, .mat-menu-panel, .mat-menu-item {
            background-color: $dark-grey-color;
            color: $light-grey-color;
        }
        .mat-menu-item:hover {
            background-color: $black-color;
        }
        .mat-icon:not(.mat-primary) {
            color: $light-grey-color;
        }
        .mat-menu-item_slide {
            .mat-icon:first-of-type {
                color: $grey-color !important;
            }
            .mat-icon:last-of-type {
                color: white !important;
            }
        }
        .mat-flat-button {
            border-top: 1px solid $grey-color;
        }
        .mat-form-field-label, .mat-slide-toggle-content {
            color: $light-grey-color !important;
        }

        .app-root_container, .mat-flat-button, .mat-snack-bar-container {
            background-color: $dark-grey-color;
            color: $light-grey-color;
        }

        app-streamer {
            &:hover {
                background-color: $black-color;
            }
            &_activity {
                color: $grey-color;
            }
        }
    }
}

.hidden {
    visibility: hidden;
    width: 0;
    height: 0;
}

.icon-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 40px;
    height: 40px;
}

.mat {
    &-menu {
        &-panel {
            min-height: auto !important;
        }
        &-content {
            padding: 4px 0 !important;
        }
        &-item {
            padding: 0 10px 0 5px !important;

            &_slide {
                display: flex !important;
                justify-content: space-between;
                align-items: center;

                .mat-icon {
                    margin: 0 !important;
                }
            }
        }
    }
    
    &-toolbar {
        font-weight: bold;
    }
    
    &-snack-bar-container {
        display: flex!important;
        align-content: center;
        border-radius: 0!important;
        padding: 0 5px 0 15px!important;
    
        &--info {
            border-left: 7px solid $blue-color;
        }
    
        &--warn {
            border-left: 7px solid $yellow-color;
        }
    
        &--success {
            border-left: 7px solid $light-green-color;
        }
    
        &--error {
            border-left: 7px solid $red-color;
        }
    
    }
    
    &-form-field-label {
        top: 0 !important;
        transform: inherit !important;
    }
    
    &-slide-toggle-content {
        white-space: initial!important;
        overflow: initial!important;
        text-overflow: initial!important;
    }
    
    &-form-field-label, &-slide-toggle-content {
        font-size: 14px !important;
    }
}