// @import '@angular/material/prebuilt-themes/deeppurple-amber.css';
// @import '@angular/material/prebuilt-themes/indigo-pink.css';
// @import '@angular/material/prebuilt-themes/pink-bluegrey.css';
// @import '@angular/material/prebuilt-themes/purple-green.css';


@import '~@angular/material/theming';
@include mat-core();
$default-app-primary: mat-palette($mat-purple);
$default-app-accent:  mat-palette($mat-green);
$default-app-warn:    mat-palette($mat-red);
$default-theme: mat-light-theme($default-app-primary, $default-app-accent, $default-app-warn);

@include angular-material-theme($default-theme);

/* You can add global styles to this file, and also import other style files */
html, body {
    width: 290px;
    height: 300px;
}
body {
    margin: 0;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-size: 14px;
}

.icon-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 40px;
    height: 40px;
}

.mat-menu-panel {
    min-height: auto;
}

.mat-menu-content {
    padding: 4px 0;
}

.mat-menu-item {
    padding: 0 10px 0 5px;
    height: 30px;
    line-height: 30px;
}