@import '~@angular/material/theming';
@include mat-core();
$default-app-primary: mat-palette($mat-purple);
$default-app-accent:  mat-palette($mat-green);
$default-app-warn:    mat-palette($mat-red);
$default-theme: mat-light-theme($default-app-primary, $default-app-accent, $default-app-warn);

@include angular-material-theme($default-theme);

// color
$violet-color: #695fff;
$grey-color: #666;
$red-color: #6d2222;

/* You can add global styles to this file, and also import other style files */
html, body {
    overflow: hidden;
}

body {
    margin: 0;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-size: 14px;
    transition: height .5s;
    width: 290px;
    height: 300px;
    
    &.opened {
        height: 405px;
    }
}

.hidden {
    visibility: hidden;
    width: 0;
    height: 0;
}

.icon-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 40px;
    height: 40px;
}

.mat-menu-panel {
    min-height: auto;
}

.mat-menu-content {
    padding: 4px 0;
}

.mat-menu-item {
    padding: 0 10px 0 5px;
    height: 30px;
    line-height: 30px;
}

.mat-snack-bar-container {
    display: flex!important;
    align-content: center;
    background: white;
    color: #0000008a;
    border-radius: 0!important;
    padding: 0 5px 0 15px!important;

    &--info {
        border-left: 7px solid rgb(31, 31, 143);
    }

    &--warn {
        border-left: 7px solid rgb(194, 194, 44);
    }

    &--success {
        border-left: 7px solid rgb(20, 99, 20);
    }

    &--error {
        border-left: 7px solid #b51f1f;
    }

}

.mat-form-field-label {
    top: 0 !important;
    transform: inherit !important;
}

.mat-slide-toggle-content {
    white-space: initial!important;
    overflow: initial!important;
    text-overflow: initial!important;
}

.mat-form-field-label, .mat-slide-toggle-content {
    color: $grey-color !important;
    font-size: 14px !important;
}